<div class="footer">
    <div class="footer-links">
        <a href="https://cs.illinois.edu/academics/graduate/professional-mcs/online-master-computer-science">
            UIUC MCS Website</a>
        <a
            href="https://cs.illinois.edu/academics/graduate/professional-mcs/online-master-computer-science-data-science">
            UIUC MCS-DS Website</a>
        <!-- <a href="{{courseService.socialURL}}">{{courseService.socialName}}</a> -->
        <a href="{{courseService.redditURL}}">{{courseService.redditName}}</a>
        <a href="https://github.com/uiuc-mcs/uiuc-mcs">Github</a>
        <a href="https://github.com/uiuc-mcs/uiuc-mcs/issues">
        Bugs/Features
        </a>
    </div>
    <ul class="footer-ul">
        <li><a href="/privacy">Privacy</a></li>
        <li><a href="/terms">Terms</a></li>
    </ul>
    <span class="copyright">© {{currentYear}} {{courseService.properName}}</span>
</div>