.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // font-style: italic;
    // color:rgb(105, 103, 103);
    min-height: 50px;
    padding-top: 15px;
}

.footer-links {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    a {
        padding: 0 10px;
    }
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.copyright {
    font-size: 12px;
}
.footer-ul li {
    display: inline;
    a {
    font-size: 12px;
    }
}

.footer-ul li+li::before {
    content: "•";
    padding: 0px 4px;
}

a:hover {
    text-decoration-line: underline;
}