.mat-form-field {
    display: block;
}
.mat-card {
    max-width: 515px;
    width: 100%;
    padding: 16px;
}

#course,
#semester,
#difficulty,
#workload,
#rating {
    max-width: 350px;
}
.review-spacer {
    text-align: center;
    padding-top: 15px;
    h3 {
        display: flex;
        justify-content: center;
    }
}
::ng-deep .mat-tooltip  {
    white-space: pre-line !important;
}