<div class="course-list-container">
  <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between center"
   class="filter-container">
    <div class="filter">
      <mat-form-field appearance="fill">
        <mat-label>MCS Requirements Filter</mat-label>
        <mat-select [(value)]="mcsValue" panelClass="select-no-max-height">
          <mat-option *ngFor="let opt of mcsOptions" [value]="opt.value" (click)="updateMcsFilter()">
            {{opt.view}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="filter">
      <mat-form-field appearance="fill">
        <mat-label>MCS-DS Requirements Filter</mat-label>
        <mat-select [(value)]="mcsdsValue" panelClass="select-no-max-height">
          <mat-option *ngFor="let opt of mcsdsOptions" [value]="opt.value" (click)="updateMcsdsFilter()">
            {{opt.view}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="filter">
      <mat-form-field appearance="fill">
        <mat-label>Semester Filter</mat-label>
        <mat-select [(value)]="semesterValue" panelClass="select-no-max-height">
          <mat-option *ngFor="let opt of semesterOptions" [value]="opt.value" (click)="updateFilter()">
            {{opt.view}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="table-container mat-elevation-z1">
    <table mat-table matSort [dataSource]="dataSource" [trackBy]="trackById" matSortActive="ClassName"
      matSortDirection="asc">
      <ng-container matColumnDef="CourseNumber">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Course Number</th>
        <td mat-cell *matCellDef="let class">{{class.CourseNumber}}</td>
      </ng-container>
      <ng-container matColumnDef="ClassName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Course Name</th>
        <td mat-cell *matCellDef="let class">{{class.ClassName}}</td>
      </ng-container>
      <ng-container matColumnDef="RatingCount">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Reviews</th>
        <td mat-cell *matCellDef="let class">{{class.RatingCount}}</td>
      </ng-container>
      <ng-container matColumnDef="DifficultyAvg">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          Difficulty (1&#x2011;5)</th>
        <td mat-cell *matCellDef="let class">{{class.RatingCount ? (class.DifficultyAvg | number: '1.0-1') : '--'}}
        </td>
      </ng-container>
      <ng-container matColumnDef="WorkloadAvg">
        <th mat-header-cell *matHeaderCellDef mat-sort-header 
        matTooltip="Hours spent per week">
          Workload (hrs/wk)</th>
        <td mat-cell *matCellDef="let class">{{class.RatingCount ? (class.WorkloadAvg | number: '1.0-1') : '--'}}</td>
      </ng-container>
      <ng-container matColumnDef="RatingAvg">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          Rating (1&#x2011;5)</th>
        <td mat-cell *matCellDef="let class">{{class.RatingCount ? (class.RatingAvg | number: '1.0-1') : '--'}}</td>
      </ng-container>
      <ng-container matColumnDef="Semester">
        <th mat-header-cell *matHeaderCellDef class="center">Semesters</th>
        <td mat-cell *matCellDef="let class" class="center">
          <mat-icon *ngIf="class.season.spring" svgIcon="icons:spring"></mat-icon>
          <mat-icon *ngIf="class.season.summer" svgIcon="icons:summer"></mat-icon>
          <mat-icon *ngIf="class.season.fall" svgIcon="icons:fall"></mat-icon>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="rowClick($event, row)"></tr>
    </table>
  </div>
</div>