.mat-cell,
.mat-header-cell {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.87);
}

::ng-deep .mat-sort-header-content {
    text-align: left !important;
}

::ng-deep .mat-form-field-infix {
    width: initial !important;
}

td {
    text-overflow: ellipsis;
}

.mat-cell {
    line-break: unset;
    white-space: nowrap;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
}

.course-list-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.table-container {
    width: 100%;
    overflow-x: auto;
    border-radius: 4px;
}

.mat-column-ClassName {
    max-width: 14rem;
}

.filter-container {
    width: 100%;
}

.filter {
    flex-grow: 0;
    max-width: 50%;
    flex-basis: 50%;
    mat-form-field {
        width: 100%;
    }
    &:last-child {
        margin-left: 0.5rem;
    }
    &:first-child {
        margin-right: 0.5rem;
    }
    @media screen and (max-width: 599px) {
        flex-basis: 100%;
        width: 100%;
        max-width: 100%;
        &:last-child {
            margin-left: 0;
        }
        &:first-child {
            margin-right: 0;
        }
    }
}

.rating-grid-cell {
    padding: 16px;
    width: 25%;
    text-align: center;
    border-right: 1px solid #efefef;
    &:last-child {
        border-right: none;
    }
    @media screen and (max-width: 599px) {
        width: 100%;
        border-right: none;
        border-bottom: 1px solid #efefef;
        &:last-child {
            border-bottom: none;
        }
    }
}

table {
    width: 100%;
    overflow-x: auto;
}

tr.mat-row:hover {
    background-color: #f5f5f5;
}

tr.mat-row,
tr.mat-footer-row {
    height: 37px !important;
    cursor: pointer;
}

tr.mat-header-row {
    height: 38px !important;
}

.my-chips {
    font-size: 11px;
    min-height: 20px;
    margin: 1px !important;
    padding: 2px 8px;
}

.th .center {
    text-align: center !important;
}

.constrain-width {
    max-width: 120px;
}

.circle {
    width: 16px;
    height: 16px;
    line-height: 16px;
    border-radius: 50%;
    font-size: 12px;
    color: #fff;
    text-align: center;
    display: inline-block;
    margin: 3px;
}

.summer {
    color: #fff;
    background: #ebbc00;
}

.spring {
    color: #fff;
    background: #00c261;
}

.fall {
    color: #fff;
    background: #98482b;
}
