<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Create your account</mat-card-title>
    </mat-card-header>

    <form class="register-form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <mat-card-content>
        <mat-form-field class="form-field-full-width" appearance="outline" floatLabel="auto">
          <mat-label>First Name</mat-label>
          <input matInput placeholder="First Name" formControlName="firstName"
            [ngClass]="{'is-invalid': submitted && f.firstName.errors}">
          <mat-error *ngIf="f.firstName.errors">
            Please enter your first name. It will never be shown publicly.
          </mat-error>
        </mat-form-field>

        <mat-form-field class="form-field-full-width" appearance="outline" floatLabel="auto">
          <mat-label>Last Name</mat-label>
          <input matInput placeholder="Last Name" formControlName="lastName"
            [ngClass]="{'is-invalid': submitted && f.lastName.errors}">
          <mat-error *ngIf="f.lastName.errors">
            Please enter your last name. It will never be shown publicly.
          </mat-error>
        </mat-form-field>

        <mat-form-field class="form-field-full-width" appearance="outline" floatLabel="auto">
          <mat-label>UIUC Email</mat-label>
          <input matInput placeholder="UIUC Email" formControlName="email"
            [ngClass]="{'is-invalid': submitted && f.email.errors}">
          <mat-error *ngIf="f.email.errors">
            Please enter a valid @illinois.edu email.
          </mat-error>
        </mat-form-field>

        <mat-form-field class="form-field-full-width" appearance="outline" floatLabel="auto">
          <mat-label>Password</mat-label>
          <input matInput type="password" formControlName="password"
            [ngClass]="{'is-invalid': submitted && f.email.errors}" placeholder="Password">
          <mat-error *ngIf="f.password.errors">
            Your password must be at least 6 characters.
          </mat-error>
        </mat-form-field>

      </mat-card-content>
      <button mat-raised-button color="primary" class="btn-block">Create account</button>
      <div *ngIf="error" class="alert">{{error}}</div>
    </form>
  </mat-card>
</div>