.font-override {
    color: #262626;
}

mat-form-field {
    width: 100%;
}

:host ::ng-deep mat-list-item > div > span {
    overflow: hidden;
    span{
        text-align: left !important;
    }
}

:host ::ng-deep .mat-card-header-text {
    display:flex;
        margin: 0;
    mat-card-title {
        align-self: center;
        margin: 0;
    }
}
    
mat-card-title {
    align-self: center;
}

.mat-card {
    max-width: 450px;
    width: 100%;
    padding: 16px;
}

mat-card-header > button,
mat-card-header > div > button {
  margin-top: -10px;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    button {
        transition: none;
    }
    button:not(:last-child) {
        margin-right: .5rem;
    }
}

.list-buttons {
    display: flex;
}

.user-reviews-card-content {
    text-align: center;
}

.view-own-reviews-nothing-here ::ng-deep .mat-line {
    white-space: pre-wrap !important;
}