.font-override {
    color: #262626;
}

mat-form-field {
    width: 100%;
    margin-top: 12px;
}

/* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version.*/
mat-card-title {
    align-self: center;
}
    
/* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version.*/
mat-card-content {
    padding-left: 16px;
    padding-right: 16px;
}
         
.no-reviews-button {
    display: block;
    margin: auto;
}

.mat-mdc-card {
    max-width: 450px;
    width: 100%;
    padding: 16px;
}

/* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version.*/
mat-card-header > button,
mat-card-header > div > button {
  margin-top: -10px;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    button {
        transition: none;
    }
    button:not(:last-child) {
        margin-right: .5rem;
    }
}

.list-buttons {
    display: flex;
}

.mdc-list-item {
    // display: flex;
    // position: relative;
    // align-items: center;
    // justify-content: flex-start;
    // overflow: hidden;
    // padding: 0;
    // align-items: stretch;
    // cursor: pointer;
    padding-left: 0;
}
.mdc-list-item--with-trailing-meta .mdc-list-item__end {
    margin-left: 0;
    margin-right: 16px;
}

.mdc-list-item.mdc-list-item--with-trailing-meta .mdc-list-item__end {
    color: inherit;
}