<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Profile</mat-card-title>
        <div fxFlex></div>
        <div class="card-header-buttons">
          <button mat-icon-button routerLink="/user/edit">
            <mat-icon matTooltip="Edit profile">mode_edit</mat-icon>
          </button>
        </div>
    </mat-card-header>
    <mat-card-content style="text-align: center;">
      <br>
      <form class="user-edit-form">
        <div *ngFor="let item of userInfo | keyvalue">
          <mat-form-field class="form-field-full-width">
            <mat-label>{{ item.value.displayName }}</mat-label>
            <input type="text" matInput disabled placeholder="First Name" value="{{item.value.value}}"
              class="font-override">
          </mat-form-field>
        </div>
      </form>
      <br><br>
      <mat-card-header>
        <mat-card-title>Reviews</mat-card-title>
        <div fxFlex></div>
      </mat-card-header>
      <mat-nav-list>
        <mat-list-item *ngIf="!reviewData.length" routerLink="/createReview" class="view-own-reviews-nothing-here"><span
            matLine>You haven't created any reviews yet. Click here
            to get started</span></mat-list-item>
        <mat-list-item *ngFor="let review of reviewData" routerLink="/review/{{review.reviewId}}">
          <span matLine>{{ review.course }}&nbsp; — &nbsp;{{ review.title }}</span>
          <div (click)="$event.stopPropagation()" class="list-buttons">
            <button mat-icon-button (click)="openSnackBar('Link copied to clipboard.')">
              <mat-icon>link</mat-icon>
            </button>
            <button mat-icon-button routerLink="/review/edit/{{review.reviewId}}">
              <mat-icon>mode_edit</mat-icon>
            </button>
            <button mat-icon-button (click)="removeReview(review.reviewId)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </mat-list-item>
      </mat-nav-list>
    </mat-card-content>
  </mat-card>
</div>