.helpful-container{
  display: flex;
  align-items: center;

  .helpful-label {
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .helpful-vote-container {
      font-size: 10px;

      .helpful-vote-positive {
        color: green;
      }

      .helpful-vote-negative {
        color: red;
      }
    }
  }
}
/* TODO(mdc-migration): The following rule targets internal classes of button that may no longer apply for the MDC version. */
.mat-button-toggle {
    color: inherit;
    font-size: 13px;
}