.main-container {
    width: 100%;
}

// html, body { height: 100%; }
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

body {
    background-color: #e5e5e5;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    padding: 80px 3rem 2rem;
    button {
        min-width: 24px;
    }
}

.Site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.Site-content {
    flex: 1;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a:hover {
    text-decoration-line: underline;
}

footer {
    padding: 40px 0 10px;
    display: flex;
    align-items: center;
    line-height: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 50px;
    padding-top: 15px;
}

.footer-links {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    a {
        padding: 0 10px;
    }
}

.footer-ul li {
    display: inline;
    a {
        font-size: 12px;
    }
}

.footer-ul li + li::before {
    content: "•";
    padding: 0px 4px;
}

.copyright {
    font-size: 12px;
}
