@use "constants";

*,
::before,
::after {
    box-sizing: border-box;
}

body {
    background-color: #f7f7f7;
    margin: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    padding: constants.$main-pad-above constants.$main-pad-side 2rem;
    @media (max-width: constants.$bp-tiny) {
        padding: constants.$main-pad-above-mobile constants.$main-pad-side-mobile 2rem;
    }
}

.Site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.Site-content {
    flex: 1;
}

.main-container {
    width: 100%;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

@media (max-width: constants.$bp-tiny) {
    /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
    #mat1 > .mat-form-field-wrapper {
        padding-bottom: 1em;
    }
    /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
    #mat2 > .mat-form-field-wrapper {
        padding-bottom: 1em;
    }
}

.basic-container {
    &.slim {
        max-width: 450px;
    }
    &.col-form {
        width: 100%;
        .mat-mdc-card {
            max-width: 900px;
            padding: 40px 32px;
            width: 100%;
            @media (max-width: constants.$bp-tiny) {
                padding: 36px 36px;
            }
        }
        .mat-mdc-form-field-error {
            font-size: 88%;
        }
        .mat-mdc-card-content {
            margin-bottom: 0;
        }
    }
}

form {
    .form-row {
        margin-top: 1.5rem;
        width: 100%;
    }
    label,
    .forgot-pass {
        font-size: 0.875rem;
        cursor: pointer;
    }
}

@media (max-width: constants.$bp-tiny) {
    form .form-row {
        margin-top: 1rem;
        width: 100%;
    }
}

.full-width-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    .mat-mdc-form-field,
    button {
        width: 100%;
    }
}

.restrict-width {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.fx-layout-column {
    flex-direction: column;
    box-sizing: border-box;
    display: flex;
}
.fx-layout-align-center-center {
    place-content: center;
    align-items: center;
}

.fx-layout-row {
    flex-direction: row;
    box-sizing: border-box;
    display: flex;
}
.fx-layout-align-space-between-space-between {
    place-content: space-between;
    align-items: stretch;
}
.fx-flex {
    flex: 1 1 0%; 
    box-sizing: border-box;
}

.mat-mdc-raised-button {
    letter-spacing: normal !important;
}

.mdc-data-table__cell, .mdc-data-table__header-cell {
    padding: 0px 8px 0 8px !important;
}