.reviews-container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.review-footer {
    display: flex;
    justify-content: flex-end;
}

.review-controller {
    font-size: 14px;
    // mat-form-field {
    //     // ::ng-deep .mat-form-field-infix {
    //     .mat-form-field-infix {
    //         border-top: 0.5em solid transparent;
    //         max-width: 150px;
    //     }

    //     // ::ng-deep .mat-form-field-flex {
    //     .mat-form-field-flex {
    //         padding-top: 0px !important;
    //         border: 1px solid rgba(0, 0, 0, 0.26);
    //         border-radius: 4px 4px 4px 4px !important;
    //     }

    //     // ::ng-deep .mat-form-field-underline {
    //     .mat-form-field-underline {
    //         width: 0px !important;
    //     }
    // }

    // .page-label {
    //     vertical-align: middle;
    //     margin-right: 9px;
    // }

    // .next-prev-container button {
    //     margin-right: 4px;
    //     padding: 0.16rem 0rem 0.16rem 0rem;
    //     @media (max-width: 400px) {
    //         min-width: 53px;
    //     }
    // }
    // .pagination button {
    //     margin-right: 4px;
    //     padding: 0.16rem 0rem 0.16rem 0rem;
    // }
}
