.reviews-container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.review-footer {
    display: flex;
    justify-content: flex-end;
}

.review-controller {
    font-size: 14px;
}

.filter-container {
    width: 100%;
    @media screen and (min-width: 600px) {
        flex-direction: row;
        box-sizing: border-box;
        display: flex;
        place-content: center space-between;
        align-items: center;
    }
}

.mat-mdc-chip-set .mdc-evolution-chip-set__chips {
    margin: -4px !important;
}

.filter {
    flex-grow: 0;
    max-width: 50%;
    flex-basis: 50%;
    mat-form-field {
        width: 100%;
    }
    &:last-child {
        margin-left: 0.5rem;
    }
    &:first-child {
        margin-right: 0.5rem;
    }
    @media screen and (max-width: 599px) {
        flex-basis: 100%;
        width: 100%;
        max-width: 100%;
        &:last-child {
            margin-left: 0;
        }
        &:first-child {
            margin-right: 0;
        }
    }
}