.reviews-container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.review-footer {
    display: flex;
    justify-content: flex-end;
}

.review-controller {
    font-size: 14px;
}

.filter-container {
    width: 100%;
    @media screen and (min-width: 600px) {
        flex-direction: row;
        box-sizing: border-box;
        display: flex;
        place-content: center space-between;
        align-items: center;
    }
}

.filter {
    flex-grow: 0;
    max-width: 50%;
    flex-basis: 50%;
    mat-form-field {
        width: 100%;
    }
    &:last-child {
        margin-left: 0.5rem;
    }
    &:first-child {
        margin-right: 0.5rem;
    }
    @media screen and (max-width: 599px) {
        flex-basis: 100%;
        width: 100%;
        max-width: 100%;
        &:last-child {
            margin-left: 0;
        }
        &:first-child {
            margin-right: 0;
        }
    }
}

// .btn-block {
//     background-color: #22528d;
//     color: #fff;
//     box-shadow: 0 3px 1px -2px #0003, 0 2px 2px #00000024, 0 1px 5px #0000001f;
//     box-sizing: border-box;
//     position: relative;
//     -webkit-user-select: none;
//     user-select: none;
//     cursor: pointer;
//     outline: none;
//     border: none;
//     -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
//     display: inline-block;
//     white-space: nowrap;
//     text-decoration: none;
//     vertical-align: baseline;
//     text-align: center;
//     margin: 0;
//     min-width: 64px;
//     line-height: 36px;
//     padding: 0 16px;
//     border-radius: 4px;
//     overflow: visible;
//     transform: translate3d(0, 0, 0);
//     transition: background 400ms cubic-bezier(0.25, 0.8, 0.25, 1), box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
// }