<div class="restrict-width">
  <div fxLayout="row wrap" fxLayoutAlign="space-between center" class="review-controller next-prev-container"
    id="review-spacer">
    <mat-form-field class="order-dropdown" appearance="fill">
      <mat-select [(value)]="selectedCourseFilter" (selectionChange)="onCourseChange($event.value)">
        <mat-option *ngFor="let course of reviewedCourses" [value]="course">
          {{course !== '' ? course.ClassName : "Courses: All"}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="order-dropdown" appearance="fill">
      <mat-select [(value)]="selectedSort" (selectionChange)="newSort()">
        <mat-option *ngFor="let option of orderByOptions" [value]="option">
          Sort by {{option.displayText}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="center" *ngIf="nothingHere">
    <h1>Could not find any Reviews using input parameters.<br>Please try a different search.</h1>
  </div>
  <app-review-detail [reviewData]="reviewData" [pageNumber]="0" [showEmptyMsg]="false"
    [pageLength]="pageLength" [links]="true">
  </app-review-detail>
</div>