@import "_constants.scss";

.app-toolbar {
    background-color: $uiuc-navy !important;
    a {
        font-size: 16px;
        color: #fff;
        text-transform: uppercase;
    }
}

#app-nav-nodes {
    justify-content: center;
    ul {
        max-width: 1235px;
    }
}