#login-card-title {
    margin-bottom: 0px;
}

.fx-layout-column {
    flex-direction: column;
    box-sizing: border-box;
    display: flex;
}
.fx-layout-align-center-center {
    place-content: center;
    align-items: center;
}

.fx-layout-row {
    flex-direction: row;
    box-sizing: border-box;
    display: flex;
}
.fx-layout-align-space-between-space-between {
    place-content: space-between;
    align-items: stretch;
}